<div class="work-experience-container">
  <h2>My Work Experience</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>Self-Employed, Brisbane</h3>
        <p>Sep 2016 - Aug 2014</p>
      </div>
      <div class="timeline-center">
        <div class="circle teal"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>Visual Designer</h3>
        <p>A visual designer designs for a variety of platforms, which may include Internet and intranet sites, games, movies, kiosks and wearables. In short, they create the concepts.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>New Man Services</h3>
        <p>Jan 17 - Mar 2018</p>
      </div>
      <div class="timeline-center">
        <div class="circle orange"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>UI/UX Designer</h3>
        <p>User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>Global Solution</h3>
        <p>Feb 2019 - Mar 2020</p>
      </div>
      <div class="timeline-center">
        <div class="circle yellow"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>Sr. Product Designer</h3>
        <p>Find Product Photography Canada. Large Selection. Always Sale. Cheap Prices. Full Offer. Save Online. Compare Online. Simple Search. The Best Price. Compare Simply.</p>
      </div>
    </div>
  </div>
</div>
