<div class="work-experience-container">
  <h2>My Work Experience</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>BearingPoint</h3>
        <p>03.2020 - 07.2021</p>
      </div>
      <div class="timeline-center">
        <div class="circle teal"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>Junior Software Engineer</h3>
        <p>Programmer in Regulatory Technology with experience in UI design, software project planning, error analysis, system optimization, ticket management, and developer testing for OeNB validation.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>Raiffeisen Software</h3>
        <p>02.2021 - 04.2023</p>
      </div>
      <div class="timeline-center">
        <div class="circle orange"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>UX/UI Dual Student</h3>
        <p>Experienced in developing websites and user interfaces, designing UX/UI for apps, creating Android apps and Angular libraries, improving frameworks, managing source code with version control, and implementing responsive designs</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-left">
        <h3>Raiffeisen Software</h3>
        <p>05.2023 - present</p>
      </div>
      <div class="timeline-center">
        <div class="circle yellow"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-right">
        <h3>UX/UI Developer</h3>
        <p>Responsible for creating new components, managing project releases, developing websites and user interfaces, designing UX/UI for apps, creating Android apps and Angular libraries, improving the current framework, using version control systems, and implementing responsive designs.</p>
      </div>
    </div>
  </div>
</div>
