.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
 // background-color: #f4f4f4;
}

.container {
  max-width: 1600px;
}

.img-element {
  background-image: url('/assets/img/profil_pic.svg');
  background-repeat: space;
}

.content {
  max-width: 60%;
}

.content h1 {
  font-size: 2.5em;
  color: #000;
  margin-bottom: 20px;
}

.content .highlight {
  background-color: yellow;
}

.content .subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.discuss-btn {
  border: 2px solid #000;
  background-color: transparent;
}

.discuss-btn:hover {
  background-color: #000;
  color: #fff;
}

.talk-btn {
  background-color: yellow;
  border: 2px solid yellow;
}

.talk-btn:hover {
  background-color: #d4ac0d;
  border-color: #d4ac0d;
}

.profile-pic-container {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.profile-pic-container::before {
  content: '';
  position: absolute;
  width: 320px;
  height: 320px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .content, .profile-pic-container {
    width: 100%;
  }

  .profile-pic-container {
    margin-top: 20px;
  }
}
