<div class="container">
  <div class="main-content home-container">
    <div class="content">
      <h1>
        HEY, I'M HARPREET, A CREATIVE
        <span class="highlight">UI/UX</span> DESIGNER AND DEVELOPER.
      </h1>
      <p class="subtitle">Designer ⭐ Figma ⭐ Developer</p>
      <div class="buttons">
        <a class="btn discuss-btn" href="#">Want to discuss?</a>
        <a class="btn talk-btn" href="#">Let's Talk.</a>
      </div>
    </div>
    <div class="profile-pic-container img-element">
      <img class="profile-pic" src="assets/img/profil_pic.png" alt="Harpreet">
    </div>
  </div>
  <app-portfolios></app-portfolios>
  <app-work-experience></app-work-experience>

</div>


<!--
 Schauen
 https://www.behance.net/gallery/37703399/Dottopia-web-design-UXUI?tracking_source=search_projects_recommended%7Ccorporate+web
 https://dribbble.com/shots/14641483-Landing-page/attachments/6336161?mode=media
 https://www.behance.net/gallery/163940633/Personal-Portfolio-Web-Design-UI-UX-Designing
https://www.sierraplese.com/projects/vol-club
https://www.fromluke.com/work/luciforma
https://www.tony-mayer.com/projects/the-other-holidays
https://www.alexfisherdesign.ca/
https://hen-ry.com/?source=post_page-----e9a07ef2fa4b--------------------------------
https://www.itsjosie.com/lahsa
https://www.sirirosa.co/case-study-onc




 -->
