<div class="project-showcase-container">
  <div class="project-details">
    <h2>{{ project.title }}</h2>
    <p><strong>Industry:</strong> {{ project.industry }}</p>
    <p><strong>Year:</strong> {{ project.year }}</p>
    <p>{{ project.description }}</p>
    <p *ngIf="project.url"><strong>Watch Full Project:</strong> <a [href]="project.url" target="_blank">{{ project.url }}</a></p>
  </div>
  <div class="project-images">
    <div *ngFor="let image of project.images" class="project-image">
      <img [src]="image" alt="{{ project.title }}">
    </div>
  </div>
</div>
