.portfolios-section {
  text-align: center;
  padding: 40px 20px;
}

//TODO schauen
.portfolio-element {
  background-image: url('/assets/img/element_circle.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 91%;
}

.portfolios-section h2 {
  font-size: 2.5em;
  color: #000;
}
.portfolios-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: #fff;
  border: 0.5px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s;
}
.card:hover {
  transform: translateY(-10px);
  background: #fff070;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}
.icon {
  font-size: 2em;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}
.btn-primary {
  background-color: #ffe400;
  border-color: #333;
}


.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0;
}
