<div class="portfolios-section">
  <h2>Portfolios.</h2>
  <p>Click on the cards to see my portfolios of related category.</p>
  <div class="cards">
    <div class="card">
      <div class="icon">📐</div>
      <h3>UI/UX Designing.</h3>
      <p>We provide stunning designs for your UI/UX project, we can handle any project related to landing page designs, e-commerce designs, portfolio website designs, business websites, and many more as per your requirements.</p>
    </div>
    <div class="card">
      <div class="icon">🎨</div>
      <h3>Graphic Designing.</h3>
      <p>We provide amazing and professional Graphic Assets for your projects such as social media post designs, logo designs, business card designs, poster designs, YouTube and blogs thumbnail designs, product label designs, and many more categories as per your requirements.</p>
    </div>
    <div class="card">
      <div class="icon">💻</div>
      <h3>Web Development.</h3>
      <p>After designing the web apps or sites we also offer the services of web development for any kind of website such as business landing pages, product related website development, we can handle all the projects.</p>
    </div>
    <div class="card">
      <div class="icon">📱</div>
      <h3>Mobile App UI/UX.</h3>
      <p>With the service of web design and development, we are offering the service of mobile apps UI/UX designs if you are looking for someone who can create the layout and pages of your mobile app professionally we are here to handle this kind of project.</p>
    </div>
    <div class="card">
      <div class="icon">💬</div>
      <h3>Social Media Post Designing.</h3>
      <p>Social media post designs are very important if you have a business and want to promote your business on social media, we are also providing the service of designing your social media posts for your business.</p>
    </div>
    <div class="card">
      <div class="icon">✨</div>
      <h3>Want your stunning designs</h3>
      <p>If you want any kind of the listed services you can simply send us an email or leave a message on any social media platform.</p>
      <a class="btn btn-primary" href="#">Let's Talk.</a>
    </div>
  </div>
</div>
